__pycache__/
bin/
compiler_compat/
conda-meta/
data/dir_data.tar
data/dir_data/
doc/
etc/
include/
lib/
libexec/
man/
mkspecs/
phrasebooks/
plugins/
qml/
share/
ssl/
translations/
var/
x86_64-conda_cos6-linux-gnu/
pkgs/
python-driver/
