__pycache__/
bin/
compiler_compat/
conda-meta/
data/*
!data/mfeat/
!data/wdbc/
doc/
etc/
include/
lib/
libexec/
man/
mkspecs/
phrasebooks/
plugins/
qml/
share/
ssl/
translations/
var/
x86_64-conda_cos6-linux-gnu/
pkgs/
python-driver/
img/
.project
.pydevproject
*.swp
.exrc
